<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>

<body>
    <header>
        <nav id="sessions-nav">
            <% if(currentUser) { %>
                <a href="/">Home</a>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" />
                </form>
            <% } else { %>
                <a href="/">Home</a>
                <a href="/creators/new">Register</a>
                <a href="/sessions/new">Login</a>
            <% } %>
        </nav>
        <nav class="topNav">
            <ul id="db-nav">
                <li>
                    <a id="authors" href="/creators">Creators</a>
                </li>
                <li class="plus">
                    +
                </li>
                <li>
                    <a id="cocktails" href="/cocktails">Cocktails</a>
                </li>
                <li class="plus">
                    +
                </li>
                <li>
                    <a id="ingredients" href="/ingredients">Ingredients</a>
                </li>
            </ul>
        </nav>
        <h2>Forking Cocktails</h2>
    </header>
    <main>
    <% if (currentUser) { %>
        <% if (currentUser._id == creator._id){ %>
        <h3>Creator Dashboard</h3>
        <% } %>
    <% } else { %>
        <h3>Creator Page</h3>
    <% } %>
        <form action="/creators/<%=creator._id%>?_method=DELETE" method="POST">
            <h4>Name</h4>
            <p><%= creator.name %></p>
            <h4>About</h4>
            <p><%= creator.about %></p>
            <h4>Date Joined</h4>
            <p><%= new Date(creator.createdAt).toLocaleDateString() %></p>
            <% if (cocktails.length) { %>
                <h4>Cocktails</h4>
            <ul class="index">
                <% cocktails.forEach(cocktail => { %>
                    <li><a href="/cocktails/<%=cocktail._id%>"><%=cocktail.name%></a></li>
                <% }) %>
            </ul>
            <% } %>
            <% if (currentUser) { %>
                <% if (currentUser._id == creator._id){ %>
                <a class="actions" href="/creators/<%=creator._id%>/edit">Edit Information</a>
                <input type="submit" value="Delete Account" />
                <% } %>
                <a class="actions" href="/cocktails/new">Add New Cocktail</a>
                <a class="actions" href="/ingredients/new">Add New Ingredient</a>
            <% } %>
            
        </form>  
    </main>
</body>

</html>