<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <h2>Add Cocktail</h2>
        <form class="show-form cocktails-bg" action="/cocktails" method="POST" id="recipe">
            <!-- Cocktail Name -->
            <label for="name">Name</label>
            <input type="text" name="name" id="cocktail-name">

            <!-- Cocktail Creator: Use hidden input to pass on user id -->
            <label for="createdBy">Created By</label>
            <input type="hidden" name="createdBy" value="<%=currentUser._id%>">
            <input type="text" id="createdBy" value="<%=currentUser.name%>">

            <!-- Description -->
            <label for="cocktail-description">Description</label>
            <textarea type="text" name="description" id="cocktail-description"></textarea>

            <!-- Cocktail Recipe Section -->
            <section id="cocktail-recipe">
                <!-- Header has section label as well as buttons for adding or deleting individual lines for more/less ingredients -->
                <header>
                    <label for="recipeLine">Ingredients</label>
                    <nav id="recipe-actions">
                        <div id="addLine" class="btn people-bg text-light">Add Ingredient</div>
                        <div id="loseLine" class="btn people-bg text-light">Remove Ingredient</div>
                    </nav>
                </header>
                <!-- This is all for a single new ingredient -->
                <fieldset id="recipeLine" name="recipeLine">
                    <!-- Whole Number -->
                    <div id="recipe-number">
                        <label for="number">Number</label>
                        <select name="number" id="number">
                            <option value="">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5;</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8;">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <!-- Fraction -->
                    <div id="recipe-fraction">
                        <label for="fraction">Fraction</label>
                        <select name="fraction" id="fracton">
                            <option value="">0</option>
                            <option value="1/4">&frac14;</option>
                            <option value="1/2">&frac12;</option>
                            <option value="3/4">&frac34;</option>
                            <option value="1/8;">&frac18;</option>
                            <option value="3/8">&frac38;</option>
                            <option value="5/8">&frac58;</option>
                            <option value="7/8">&frac78;</option>
                        </select>
                    </div>
                    <!-- Unit of Measurement -->
                    <div id="recipe-unit">
                        <label for="unit">Unit</label>
                        <select name="unit" id="unit" >
                            <option value="oz">oz</option>
                            <option value="dash(es)">dash(es)</option>
                            <option value="barspoon">barspoon</option>
                            <option value="drop(s)">drop(s)</option>
                            <option value="tsp">tsp</option>
                            <option value="tbsp">tbsp</option>
                            <option value="ml">ml</option> 
                        </select>
                    </div>
                    <!-- The Actual Ingredient -->
                    <div id="recipe-ingredient">
                        <label for="ingredient">Ingredient</label>
                        <select name=ingredient id="ingredient">
                                <option value="">Select Ingredient</option>
                            <% ingredients.forEach(ingredient => { %>
                                <option value="<%=ingredient._id%>"><%=ingredient.name%></option>
                            <% }) %>
                        </select>
                    </div>
    
                </fieldset>
            </section>
            <!-- Details are a single line with Mixing Method, Glass, and Garnish -->
            <fieldset id="cocktail-details">
                <section class="narrow">
                    <label for="cocktail-method">Method</label>
                    <input list="methods" name="method" id="cocktail-method">
                    <datalist id="methods">
                        <option value="Stirred">Stirred</option>
                        <option value="Shaken">Shaken</option>
                        <option value="Built">Built</option>
                    </datalist>
                </section>
                
                <section class="narrow">
                    <label for="cocktail-glass">Glass</label>
                    <input list="glasses" name="glass" id="cocktail-glass">
                    <datalist id="glasses">
                        <option value="Rocks">Rocks</option>
                        <option value="Coupe">Coupe</option>
                        <option value="Cocktail">Cocktail</option>
                        <option value="Collins">Collins</option>
                        <option value="Highball">Highball</option>
                        <option value="Nick and Nora">Nick and Nora</option>
                        <option value="Hurricane">Hurricane</option>
                        <option value="Tiki">Tiki</option>
                        <option value="Tiki Mug">Tiki Mug</option>
                        <option value="Mule">Mule</option>
                        <option value="Shot">Shot</option>
                    </datalist>
                </section>
              
                <section class="wide">
                    <label for="garnish">Garnish</label>
                    <input type="text" name="garnish" id="cocktail-garnish"/>
                </section> 
            </fieldset>

            <!-- Any notes for making the drink -->
            <label for="cocktail-notes">Notes on Preparation</label>
            <textarea id="cocktail-notes" name="notes"></textarea>
            
            <!-- Submit Button -->
            <input class="btn people-bg text-light" type="submit" value="Submit Recipe" id="recipe-submit">
        </form> 
    </main>
         
    <script>
        // Cached Elements
        const $recipeLine = $('#recipeLine');
        const $cocktailRecipe = $('#cocktail-recipe');
        const $addLineBtn = $('#addLine'); 
        const $loseLineBtn = $('#loseLine');

        // Event Listeners
        $addLineBtn.on('click', handleAddLine);
        $loseLineBtn.on('click', handleLoseLine);
        
        // Event Handler Functions
        function handleAddLine() {
            $cocktailRecipe.append($recipeLine.clone());
        }

        function handleLoseLine() {
            $cocktailRecipe.children().last().remove();
        }

    </script>   

</body>
</html>