<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>

<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <!-- IF USER IS LOGGED IN... IF THIS IS THEIR PAGE, CALL IT DASHBOARD -->
        <% if (currentUser) { %>
            <% if (currentUser._id == person._id){ %>
            <h2>Dashboard</h2>
            <form class="show-form users-bg" action="/people/<%=person._id%>?_method=DELETE" method="POST">
            <% } %>
        <% } else { %>
            <h2>Person Page</h2>
            <form class="show-form people-bg" action="/people/<%=person._id%>?_method=DELETE" method="POST">
        <% } %>

            <!-- STORED PERSON DATA -->
            <h4>Name</h4>
            <p><%= person.name %></p>
            <h4>About</h4>
            <p><%= person.about %></p>
            <h4>Date Joined</h4>
            <p><%= new Date(person.createdAt).toLocaleDateString() %></p>

            <!-- IF USER HAS CREATED COCKTAILS, LIST THEM -->
            <% if (cocktails.length) { %>
                <h4>Cocktails</h4>
                <ul class="index">
                    <% cocktails.forEach(cocktail => { %>
                        <li><a href="/cocktails/<%=cocktail._id%>"><%=cocktail.name%></a></li>
                    <% }) %>
                </ul>
            <% } %>

            <!-- IF USER IS LOGGED IN... IF THIS IS THEIR PAGE, GIVE THEM ACCESS TO CREATION CONTROLs -->
            <% if (currentUser) { %>
                <% if (currentUser._id == person._id){ %>
                <section class="registered-options">
                    <a class="btn cocktails-bg text-light" href="/cocktails/new">Add New Cocktail</a>
                    <a class="btn ingredients-bg text-light href="/ingredients/new">Add New Ingredient</a>

                    <a class="btn people-bg text-light href="/people/<%=person._id%>/edit">Edit User Information</a>
                    <input class="btn warning" type="submit" value="Delete Account" />
                </section>    
                    

                <% } %>
            <% } %>
            
        </form>  
    </main>
</body>

</html>