<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <nav class="topNav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/ingredients">Ingredient Index</a>
                </li>
            </ul>
        </nav>
        <h2 class="interior">Forking Cocktails</h2>
    </header>
    <main>
        <h3>Ingredient Page</h3>
        <form action="/ingredients/<%=ingredient._id%>?_method=DELETE" method="POST">
            <h4>Name</h4>
            <p><%= ingredient.name %></p>
            <h4>Notes</h4>
            <p><%= ingredient.notes %></p>

            <% if (cocktails.length) { %>
                <h4>Cocktails</h4>
            <ul class="index">
                <% cocktails.forEach(cocktail => { %>
                    <li><a href="/cocktails/<%=cocktail._id%>"><%=cocktail.name%></a></li>
                <% }) %>
            </ul>
            <% } %>

            <a class="actions" href="/ingredients/<%=ingredient._id%>/edit">Edit Ingredient</a>
            <input type="submit" value="Delete Ingredient" />
        </form>
    </main>
</body>
</html>