<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <nav id="sessions-nav">
            <% if(currentUser) { %>
                <a href="/">Home</a>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" />
                </form>
            <% } else { %>
                <a href="/">Home</a>
                <a href="/creators/new">Register</a>
                <a href="/sessions/new">Login</a>
            <% } %>
        </nav>
        <nav class="topNav">
            <ul id="db-nav">
                <li>
                    <a id="authors" href="/creators">Creators</a>
                </li>
                <li class="plus">
                    +
                </li>
                <li>
                    <a id="cocktails" href="/cocktails">Cocktails</a>
                </li>
                <li class="plus">
                    +
                </li>
                <li>
                    <a id="ingredients" href="/ingredients">Ingredients</a>
                </li>
            </ul>
        </nav>
        <h2 class="interior">Forking Cocktails</h2>
    </header>
    <main>
        <h3>Ingredient Page</h3>
        <form action="/ingredients/<%=ingredient._id%>?_method=DELETE" method="POST">
            <h4>Name</h4>
            <p><%= ingredient.name %></p>
            <h4>Created By</h4>
            <p><%= ingredient.createdBy.name %></p>
            
            <% if (ingredient.notes !== ""){ %>
                <h4>Notes</h4>
                <p><%= ingredient.notes %></p>
            <% } %>
            

            <% if (cocktails.length) { %>
                <h4>Cocktails</h4>
                <ul class="index">
                    <% cocktails.forEach(cocktail => { %>
                        <li><a href="/cocktails/<%=cocktail._id%>"><%=cocktail.name%></a></li>
                    <% }) %>
                </ul>
                <% } %>

            <% if (currentUser) { %>
                <% if (ingredient.createdBy._id == currentUser._id) { %>
                    <a class="actions ingredient-action" href="/ingredients/<%=ingredient._id%>/edit">Edit Ingredient</a>
                <input id="ingredient-delete" type="submit" value="Delete Ingredient" />
               <% } %>
            <% } %>
            
        </form>
    </main>
</body>
</html>